body{
    font-family: brandon-grotesque, sans-serif;
    font-feature-settings: "liga";
    background-color: rgb(223, 216, 216); 
    
}
#PersonalPagePicture{
    float: left;
    width: 50%;
    height: auto;
    background-color: maroon;
    border: 5px;
    border-radius: 5px;
    border-color: maroon;
    background-size: 50vw;
}
img{
    width: 100%;
    border: 5px;
    border-color: maroon;

}
#PersonalPageDescription{
    position: relative;
    float: right;
    width: 50%;
    background-size: 50vw;
    align-content: center;
    font-family: brandon-grotesque, sans-serif;
    font-feature-settings: "liga";
    background-color: rgb(223, 216, 216); 
}
/*#NaviCheckCampusButtonDiv{
    
}*/

/*This sets the css for †he navigation bar and its css after popping out*/
.sidenav {
    height: 100%; 
    position: fixed; 
    font-family: brandon-grotesque, sans-serif;
    font-feature-settings: "liga";
    top: 0; 
    left: 0;
    background-color: rgb(223, 216, 216); 
    overflow-x: hidden; 
    padding-top: 10%; 
    transition: 0.5s; 
    
  }
  

.menuButtons{
    background-color: white;
    color:maroon;
    border: 2px solid maroon;
    display: inline-block
  }

   /*This sets the css for †he navigation bar and its css after popping out*/
.sidenav {
  height: 100%; 
  position: fixed; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  top: 0; 
  left: 0;
  background-color: rgb(223, 216, 216); 
  overflow-x: hidden; 
  padding-top: 10%; 
  transition: 0.5s; 
  
}
/* side bar stuff */
.sidenav a {
  padding: 5% 5% 5% 20%;
  text-decoration: none;
  font-size: 25px;

  color: black;
  display: block;
  transition: 0.3s;
}
/* side bar stuff */
.sidenav a:hover {
  color: #747474;
}
/* side bar stuff */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* fix the navi bar to the top of the screen with this */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
/* padding to fix the cliping at the top of the screen  */
.sticky + .content {
  padding-top: 102px;
}
/* styling for the navibar stuff */
.header{
  background-color:#9F212C;
  padding: 1vw;
  height: 6.5vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: none;
}

.header button{
  font-size: 2vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
  color: white;
  background: #9F212C;
  border: 2px solid white;
}

#menuButtonPic{
max-width: 5%;
height: auto;

}

