html {
      height: 100%;
    }
  body {
      height: 100%;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
      background-color: whitesmoke;
  }
  .searchBar{
      height: 5%;
    }
    
    /* the width is 10% of the height */
  #searchInput {
            font-size: 150%;
        height: 100%;
        width:50%;
        position: relative;
        top:0%;
        left: 0%;
        
  } 
  #searchButtonPic{
      max-width: 5%;
  }
  #searchButton {
        height: 100%;
        width:10%;
        position: relative;
        top: 0%;
        left: 0%;
  }
  
  #content{
        position: relative;
        top: 0%;
        left: 0%;
        display: block;
  } 

  .imagesForSearch{
      max-width: 100%;
      height: auto;
      border: 5px solid #555;
  }
  .profileright{
      font-size: 2vw;
      size: 48%
  }

  .profileright > button{
      size: 1vw;
  }

  .profileleft{
      position: relative;
      /* left: 0%; */
      max-width: 48%;

  }
  .row{
      display: flex;
      flex-wrap:nowrap;
      overflow: none;
      background-color: whitesmoke;

  }
  .row > div{
      margin: 10px;
  }

 