html {
      height: 100%;
    }
  body {
      height: 100%;
      font-family: brandon-grotesque, sans-serif;
      font-feature-settings: "liga";
      margin: 0%;
      background-color: whitesmoke;
}
  .searchBar{
      height: 5%;
    }
    hr{
      border: 2px solid gray;
    }
    
    /* the width is 10% of the height */
  #searchInput {
        font-size: 1.5vh;
        height: 5vh;
        width: 30vw;
        position: absolute;
        top: 2vh;
        left: 35vw;
        
        
  } 
  /* make absolute so that it is always centered */
  #searchButtonPic{
      max-width: 5vh;
      max-height: 5vh;
      position: absolute;
      left: 77.5vw;
      top: 2vh;
  }
  #menuButtonPic{
    max-width: 5vh;
    height: auto;
    position: absolute;
    left: 19vw;
    top: 2vh;
   
}
 #logoPic{
  max-width: 5vh;
  height: auto;
  position: absolute;
  left: 2vw;
  top: 2vh;
  border-radius: 50%;
  border: white;
 }
  #searchButton {
        height: 100%;
        width:10%;
        position: relative;
        top: 0%;
        left: 0%;
  }
  
  #content{
        position: relative;
        top: 7vh;
        left: 0%;
        display: block;
  } 
  .classTitleDiv{
    display: flex;
    overflow: none;
    
  }
  .roomDiv{
    display: flex;
    overflow: none;
  }

  .classTitle{
    left: 0%;
  }


  .profileright{
      font-size: 2vw;
      width: 48%;
      background:  gray;
      border: 3px solid gray;
      padding: 1%;
  }

  .profileright button{
      text-align: center;
      font-size: 2vw;
       font-family: brandon-grotesque, sans-serif;
      font-feature-settings: "liga";
      color: white;
      background: #9F212C;
      border: 2px solid white;
  }
  .profileright p {
    text-align: center;
    font-size: 2vw;
       font-family: brandon-grotesque, sans-serif;
      font-feature-settings: "liga";
      color: white;
      background: #9F212C;
      border: 0.5vw solid white;
  }
  .profileright button :hover{
     color: #9F212C;
     background: white;
  }

  .imagesForSearch{
    width: 100%;
    height: 100%;
    padding: 1%;
    border: 5px grey;
  }

  .profileleft{
      position: relative;
      /* left: 0%; */
      max-width: 48%;
      padding: 1%;
  }

  .row{
    margin: 2%;
      display: flex;
      flex-wrap:nowrap;
      overflow: none;
      color: whitesmoke;
      border:  1vw solid grey;

      
  }
  /* sets the margins  */
  .row > div{
      margin: 10px;
  }

  /*This sets the css for †he navigation bar and its css after popping out*/
.sidenav {
    height: 100%; 
    position: fixed; 
     font-family: brandon-grotesque, sans-serif;
      font-feature-settings: "liga";
    top: 0; 
    left: 0;
    background-color: rgb(223, 216, 216); 
    overflow-x: hidden; 
    padding-top: 10%; 
    transition: 0.5s; 
    
  }
  /* side bar stuff */
  .sidenav a {
    padding: 5% 5% 5% 20%;
    text-decoration: none;
    font-size: 2vh;

    color: black;
    display: block;
    transition: 0.3s;
  }
  /* side bar stuff */
  .sidenav a:hover {
    color: #747474;
  }
  /* side bar stuff */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 3.2vh;
    margin-left: 50px;
  }
  /* fix the navi bar to the top of the screen with this */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  /* padding to fix the cliping at the top of the screen  */
  .sticky + .content {
    padding-top: 102px;
  }
  /* styling for the navibar stuff */
 .header{
   background-color:rgba(254, 165, 0, 1);
    padding: 1vh;
    height: 6.5vh;
 }
 
