body{
    color:black;
}

.sidenav {
    height: 100%; 
    width: 23%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: whitesmoke; 
    overflow-x: hidden; 
    padding-top: 10%; 
    transition: 0.5s; 
    
  }
  
  .sidenav a {
    padding: 5% 5% 5% 20%;
    text-decoration: none;
    font-size: 25px;

    color: black;
    display: block;
    transition: 0.3s;
  }
  

  .sidenav a:hover {
    color: #747474;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
 
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  #searchbutton {
    border: lavender;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: absolute;
    color: white;
    top: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  /*@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  */
  
  .webtitle { 
      position: absolute;
      top: 40%; 
      left: 35%;
      transform: translate(-50%, -50%); 
      font-size: 30%; 
      font-weight: 800; 
      letter-spacing: 5px; 
      overflow: hidden;
  } 
  
  .webtitle span { 
    animation: animate 3s linear infinite; 
  } 
  
  .webtitle span:nth-child(1) { 
    animation-delay: 0s; 
  } 
  .webtitle span:nth-child(2) { 
    animation-delay: 0.1s; 
  } 
  .webtitle span:nth-child(3) { 
    animation-delay: 0.2s; 
  } 
  .webtitle span:nth-child(4) { 
    animation-delay: 0.3s; 
  } 
  .webtitle span:nth-child(5) { 
    animation-delay: 0.4s; 
  } 
  .webtitle span:nth-child(6) { 
    animation-delay: 0.5s; 
  } 
  .webtitle span:nth-child(7) { 
    animation-delay: 0.6s; 
  } 
  .webtitle span:nth-child(8) { 
    animation-delay: 0.7s; 
  } 
  .webtitle span:nth-child(9) { 
    animation-delay: 0.8s; 
  } 
  .webtitle span:nth-child(10) { 
    animation-delay: 0.9s; 
  } 
  .webtitle span:nth-child(11) { 
    animation-delay: 1.0s; 
  } 
  .webtitle span:nth-child(12) { 
    animation-delay: 1.1s; 
  } 
  .webtitle span:nth-child(13) { 
    animation-delay: 1.2s; 
  } 
  .webtitle span:nth-child(14) { 
    animation-delay: 1.3s; 
  } 
  .webtitle span:nth-child(15) { 
    animation-delay: 1.4s; 
  } 
  .webtitle span:nth-child(16) { 
    animation-delay: 1.5s; 
  } 
  .webtitle span:nth-child(17) { 
    animation-delay: 1.6s; 
  } 
  .webtitle span:nth-child(18) { 
    animation-delay: 1.7s; 
  } 
  .webtitle span:nth-child(19) { 
    animation-delay: 1.8s; 
  } 
  .webtitle span:nth-child(20) { 
    animation-delay: 1.9s; 
  } 
  .webtitle span:nth-child(21) { 
    animation-delay: 2.0s; 
  } 
  .webtitle span:nth-child(22) { 
    animation-delay: 2.1s; 
  } 
  .webtitle span:nth-child(23) { 
    animation-delay: 2.2s; 
  } 
  .webtitle span:nth-child(24) { 
    animation-delay: 2.3s; 
  } 
  .webtitle span:nth-child(25) { 
    animation-delay: 2.4s; 
  } 
  .webtitle span:nth-child(26) { 
    animation-delay: 2.5s; 
  } 
  .webtitle span:nth-child(27) { 
    animation-delay: 2.6s; 
  } 
  .webtitle span:nth-child(28) { 
    animation-delay: 2.7s; 
  } 
  .webtitle span:nth-child(29) { 
    animation-delay: 2.8s; 
  } 

  .webtitle span:nth-child(30) { 
    animation-delay: 2.9s; 
  } 

  .webtitle span:nth-child(31) { 
    animation-delay: 3s; 
  } 

  .webtitle span:nth-child(32) { 
    animation-delay: 3.1s; 
  } 

  .webtitle span:nth-child(33) { 
    animation-delay: 3.2s; 
  } 
  .webtitle span:nth-child(34) { 
    animation-delay: 3.3s; 
  } 
  .webtitle span:nth-child(35) { 
    animation-delay: 3.4s; 
  } 
  .webtitle span:nth-child(36) { 
    animation-delay: 3.5s; 
  } 
  
  #profileright {
    float: left;
  }


  @keyframes animate { 
    0% { 
        filter: blur(0); 
        } 
  
    40% { 
        filter: blur(20px); 
        } 
  
    80% { 
        filter: blur(0); 
        } 
  
    100% { 
        filter: stop; 
        } 
        } 

  